body {
    background-color:rgb(167, 185, 185);
    margin: 0 auto;
  }
  h2 {
    background-color: #DBE9EE;
    text-align: fixed;}

  header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  ul {
    margin: 30px auto;
    padding: 0 20px;
  }
  
  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;  
  }
  nav {
    background-color: rgb(203, 201, 211);
    margin: 0 auto;
  }
  